In [133]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  
np.set_printoptions(suppress=True)

In [160]:
sub = pd.read_csv("sub.txt", sep='\t', parse_dates=['accepted']) 
pre = pd.read_csv("pre.txt", sep='\t') 
num = pd.read_csv("num.txt", sep='\t', parse_dates=['ddate']) 
tag = pd.read_csv("tag.txt", sep='\t')

In [541]:
company = sub.iloc[55]

In [542]:
adsh = company['adsh']

In [543]:
line_items = pre[pre['adsh'] == adsh]

In [544]:
values = num[num['adsh'] == adsh]

In [545]:
values.groupby('ddate')

In [546]:
l = list()

In [547]:
l = [x for _, x in values.groupby('ddate')]

In [548]:
new_l = list()
for x in l:
    if len(x) < 20:
        new_l.append(x)

In [549]:
income_stmt = line_items[line_items['stmt'] == 'IS']

In [550]:
income_stmt = income_stmt.set_index('tag')

In [551]:
d = list()
for filing in new_l:
    filing = filing.set_index('tag')
    d.append(pd.concat([filing, income_stmt], axis='columns'))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [552]:
e = list()

for i in d:
    tmp = i
    tmp.set_index('plabel')
    tmp = tmp[['ddate','qtrs','value','line','negating']]
    tmp = tmp.sort_values('line').dropna() 
       
    e.append(tmp)
    
f = list()
for i in e:
    if len(i) > 0:
        f.append(i)

In [553]:
g = list()
for i in f:
    for item in i.index:
        #if str(item) != "EarningsPerShareBasic" and str(item) != "EarningsPerShareDiluted":
        #    i['value'] = i['value'].astype('int')
        #else:
        #    i['value'] = i['value'].astype('float')
        if i.at[item,'negating'] == 1.0:
            i.at[item,'value'] = i.at[item, 'value'] * -1
        else:
            v = i.at[item, 'value']
    g.append(i[['value','qtrs']])

In [554]:
g

[                                                        value  qtrs
 InterestAndDividendIncomeOperating               2.724010e+08   1.0
 InterestIncomeExpenseNet                         2.399270e+08   1.0
 ProvisionForLoanAndLeaseLosses                   8.674000e+06   1.0
 IncomeTaxExpenseBenefit                          3.384700e+07   1.0
 ProfitLoss                                       7.185700e+07   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic  6.929800e+07   1.0
 EarningsPerShareBasic                            5.700000e-01   1.0
 EarningsPerShareDiluted                          5.600000e-01   1.0,
                                                        value  qtrs
 InterestAndDividendIncomeOperating               285510000.0   1.0
 InterestIncomeExpenseNet                         251097000.0   1.0
 ProvisionForLoanAndLeaseLosses                    10260000.0   1.0
 IncomeTaxExpenseBenefit                           41788000.0   1.0
 ProfitLoss                                        76003000.0   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic   73444000.0   1.0
 EarningsPerShareBasic                                    0.6   1.0
 EarningsPerShareDiluted                                  0.6   1.0,
                                                         value  qtrs
 InterestAndDividendIncomeOperating               2.976520e+08   1.0
 InterestIncomeExpenseNet                         2.625720e+08   1.0
 ProvisionForLoanAndLeaseLosses                   3.968600e+07   1.0
 IncomeTaxExpenseBenefit                          5.466800e+07   1.0
 ProfitLoss                                       9.800700e+07   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic  9.544800e+07   1.0
 EarningsPerShareBasic                            7.900000e-01   1.0
 EarningsPerShareDiluted                          7.800000e-01   1.0,
                                                         value  qtrs
 InterestAndDividendIncomeOperating               3.131340e+08   1.0
 InterestIncomeExpenseNet                         2.742840e+08   1.0
 ProvisionForLoanAndLeaseLosses                   1.277600e+07   1.0
 IncomeTaxExpenseBenefit                          3.020900e+07   1.0
 ProfitLoss                                       1.031660e+08   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic  1.006070e+08   1.0
 EarningsPerShareBasic                            8.500000e-01   1.0
 EarningsPerShareDiluted                          8.400000e-01   1.0,
                                                         value  qtrs
 InterestAndDividendIncomeOperating               3.298340e+08   1.0
 InterestIncomeExpenseNet                         2.845770e+08   1.0
 ProvisionForLoanAndLeaseLosses                   1.179000e+07   1.0
 IncomeTaxExpenseBenefit                          3.093600e+07   1.0
 ProfitLoss                                       1.111810e+08   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic  1.086220e+08   1.0
 EarningsPerShareBasic                            9.200000e-01   1.0
 EarningsPerShareDiluted                          9.100000e-01   1.0,
                                                         value  qtrs
 InterestAndDividendIncomeOperating               3.439420e+08   1.0
 InterestIncomeExpenseNet                         2.916190e+08   1.0
 ProvisionForLoanAndLeaseLosses                   1.498200e+07   1.0
 IncomeTaxExpenseBenefit                          1.894900e+07   1.0
 ProfitLoss                                       1.090590e+08   1.0
 NetIncomeLossAvailableToCommonStockholdersBasic  9.933000e+07   1.0
 EarningsPerShareBasic                            8.500000e-01   1.0
 EarningsPerShareDiluted                          8.400000e-01   1.0]

In [555]:
h = pd.concat(g, axis='columns', keys=['3-31-2017', '6-30-2017', '9-30-2017', '3-31-2018', '6-30-2018', '9-30-2018'])

In [556]:
h

                                                    3-31-2017         6-30-2017          9-30-2017          3-31-2018          6-30-2018          9-30-2018
                                                        value qtrs        value qtrs         value qtrs         value qtrs         value qtrs         value qtrs
InterestAndDividendIncomeOperating               2.724010e+08  1.0  285510000.0  1.0  2.976520e+08  1.0  3.131340e+08  1.0  3.298340e+08  1.0  3.439420e+08  1.0
InterestIncomeExpenseNet                         2.399270e+08  1.0  251097000.0  1.0  2.625720e+08  1.0  2.742840e+08  1.0  2.845770e+08  1.0  2.916190e+08  1.0
ProvisionForLoanAndLeaseLosses                   8.674000e+06  1.0   10260000.0  1.0  3.968600e+07  1.0  1.277600e+07  1.0  1.179000e+07  1.0  1.498200e+07  1.0
IncomeTaxExpenseBenefit                          3.384700e+07  1.0   41788000.0  1.0  5.466800e+07  1.0  3.020900e+07  1.0  3.093600e+07  1.0  1.894900e+07  1.0
ProfitLoss                                       7.185700e+07  1.0   76003000.0  1.0  9.800700e+07  1.0  1.031660e+08  1.0  1.111810e+08  1.0  1.090590e+08  1.0
NetIncomeLossAvailableToCommonStockholdersBasic  6.929800e+07  1.0   73444000.0  1.0  9.544800e+07  1.0  1.006070e+08  1.0  1.086220e+08  1.0  9.933000e+07  1.0
EarningsPerShareBasic                            5.700000e-01  1.0          0.6  1.0  7.900000e-01  1.0  8.500000e-01  1.0  9.200000e-01  1.0  8.500000e-01  1.0
EarningsPerShareDiluted                          5.600000e-01  1.0          0.6  1.0  7.800000e-01  1.0  8.400000e-01  1.0  9.100000e-01  1.0  8.400000e-01  1.0